.reservation-form {
  margin: 0.5rem 0 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: calc(33.33% - 1rem);
  margin-right: 1rem;
}

.column:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 1.5rem;
  
}
label p{
  margin-bottom: 10px;
}

textarea {
  resize: none;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  border: none;
  width: 100%;
}

input,
select {
  border-radius: 8px;
  padding: 0.3rem 1rem;
  border: none;
  height: 40px;
  width: 100%;
}


button {
  padding: 0.5rem 1rem;
  border: none;
  background: #F4CE14;
  border-radius: 16px;  
  color: #333;
  cursor: pointer;
}

button:hover {
  background-color: #DCB807;
}

@media (max-width: 768px) {
  .column {
    flex-basis: 100%;
    margin-right: 0;
  }
}
